body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}
.input-container {
  margin-bottom: 20px;
}
textarea {
  width: 46%;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
  padding: 10px;
  margin-right: 2%;
  resize: none;
  font-family: monospace;
  font-size: 16px;
}
.input-container button {
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.input-container button:hover {
  background-color: #3700b3;
}
.table-container {
  width: 100%;
  border-collapse: collapse;
}
.table-container tr:nth-child(even) {
  background-color: #2a2a2a;
}
.table-container tr:nth-child(odd) {
  background-color: #1e1e1e;
}
.table-container th, .table-container td {
  padding: 15px;
  border: 1px solid #333333;
  text-align: left;
  vertical-align: top;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
}
.diff-match {
  white-space: pre-wrap;
  font-family: monospace;
  line-height: 1.5;
  color: #ffffff;
  font-size: 18px;
}
.diff-ins {
  background-color: #3f93427a !important;
  color: #fff;
  text-decoration: none;
}
.diff-del {
  background-color: #9e322a94 !important;
  color: #fff;
  text-decoration: none;
}

.diff-match:hover {
  border: 1px solid #fff;
}

.diff-ins:hover {
  border: 1px solid #fff;
}

.diff-del:hover {
  border: 1px solid #fff;
}

.green {
  color: #38edac;
}

.dropzone {
  border: 0.2rem dashed #1e2c3c;
  padding: 8px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.25s background-color ease-in-out;
  cursor: pointer;
  max-width: 46%;
  margin-bottom: 10px;
}

.dropzone-dragging, .dropzone:hover {
    background-color: lighten(#1e2c3c, 28%);
}

.dropzone-input {
    display: none;
}

#loading{
  background-color: #000000AA;
  color: #38edac;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  margin: auto;
}

.loading_text{
  margin-top: 140px;
}

.highlight {
  background-color: #0062ffbf !important;
  border: 2px solid #f900ff;
}

.highlight-diff {
  background-color: #575757cc;
  border: 1px solid #ddddddba;
}

.missing-text {
  background-color: #0062ffbf; /* Use the same blue as highlight */
  color: white;
  padding: 0 4px;
  border-radius: 4px;
  font-style: italic;
  border: 1px solid #DDD;
}

.missing-text-placeholder {
  background-color: #575757cc; /* Matches .highlight-diff */
  display: inline-block;
  width: 10px; /* Adjust this width to represent the missing text visually */
  height: 1em; /* Adjust the height to match the font size */
  vertical-align: middle;
  border-radius: 2px; /* Optional: to give the placeholder a rounded appearance */
}


